<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>팀 정보</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div id="teamInfo">
    <!-- 팀 엠블럼을 표시할 img 태그 -->
    <img id="teamCrest" src="" alt="Team Crest" style="width: 100px; height: 100px;">
    <!-- 팀 이름을 표시할 요소 -->
    <h1 id="teamName"></h1>
</div>

<div class="team-info-container">
    <div class="team-squad">
        <h2>코치</h2>
        <div id="coach-data">팀 스쿼드 정보가 여기에 표시됩니다.</div>

        <h2>팀 스쿼드</h2>
        <div id="squad-list">팀 스쿼드 정보가 여기에 표시됩니다.</div>
    </div>
    <div class="team-matches">
        <h2>팀 매치 일정</h2>
        <div id="match-list">팀 매치 일정 정보가 여기에 표시됩니다.</div>
    </div>
</div>
<script src="/teamInfo.js"></script>
</body>
</html>
